/*General styling, displayed on all pages at all times*/

body{
  background-color: #FFC0CB;
}

h1, h4 {
  text-align: center;
}

.title {
  text-align: center;
}

table td{
  margin: 25px;
  padding: 25px;
}

.tictachorizontal {
  border-bottom: 5px solid #000000;
}

.tictacvertical {
  border-left: 5px solid #000000;
}



.theDie {
  display: inline-block;
  background-color: #FAFADA;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
  margin: 0;
}

#theSecondDie {
  display: none;
}

#twoDiceRules {
  display: none;
}

.turnList {
  list-style-type: none;
  text-indent: -25px;
  padding: 0 0 0 30px;
}

#trueturn {
  background-color: #ff7ad7;
}

#falseturn {
  background-color: #ffa2c6;
}

/*Styling for the Results section of both the Loop and RegEx pages*/

#endgame {
  display: none;
}

#controls {
  display: none;
}


/*Should defs be discarded*/

.item, .droptext {
  padding: 5px 16px;
  margin: 0px;
}

.item {
  font-weight: bold;
}

.item:hover {
  background-color: #E38DD1;
}

.optionContainer {
  position: relative;
  display: inline-block;
}

#rulesContainer {
  position: relative;
  display: inline-block;
}

#rules {
  min-width: 500px;
}

#options {
  min-width: 200px;
}

#rulesContainer:hover #rules {
  display: block;
}

#options, #rules {
  display: none;
  position: absolute;
  background-color: #B851A3;
  box-shadow: 0px 10px 25px 0px rgba(95, 0, 24, 0.562);
  z-index: 1;
}

.optionContainer:hover #options {
  display: block;
}